################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/sqlite3
**/.suo
**/bin
**/obj
**/packages
FunctionalLibrary/NuGet.exe
Quadrivia.FunctionalLibrary.1.0.1.nupkg
FunctionalLibrary/NuGet.exe
*.nupkg
